{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"quoteProps": "consistent",
	"singleQuote": true,
	"trailingComma": "es5",
	"plugins": ["prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "./**/*.mdx",
			"options": {
				"printWidth": 72
			}
		}
	]
}
