---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class='container mt-10 text-base leading-[26px]'>
    <p>
      I'm a frontend developer interested in filmmaking, content creation,
      vlogging, and backend based in Bangladesh. I enjoy visualizing problems
      and writing code to solve them.
    </p>
    <p class='mt-5'>
      I came across computer kinds of stuff in school and have spent five years
      as a cinematographer and editor. Taken programming more seriously after
      joining college, worked as a freelance developer, and am pursuing a BSc
      degree in Computer Science. Building projects and experimenting in a
      little lab—and now writing html at roadmap.sh. Building my side project,
      maily.to.
    </p>
    <p class='mt-5'>
      My goal is to build cool things that make people&apos;s lives easier or
      more interesting—whether that&apos;s through building an app or writing
      code for other people.
    </p>
  </main>
</Layout>
