---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Astro.'>
  <main class='container mt-10 text-base leading-[26px]'>
    <p>
      I'm a frontend developer interested in filmmaking, content creation,
      vlogging, and backend based in Bangladesh. I enjoy visualizing problems
      and writing code to solve them.
    </p>
  </main>
</Layout>
