---
import Link from '../components/Link.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class='container mt-10 text-sm sm:text-base'>
    <p>
      I'm a full-stack developer interested in filmmaking, content creation, and
      vlogging based in Bangladesh. I enjoy visualizing problems and writing
      code to solve them.
    </p>
    <p class='mt-5'>
      I came across computer kinds of stuff in school and have spent five years
      as a cinematographer and editor. Taken programming more seriously after
      joining college, worked as a freelance developer, and am pursuing a BSc
      degree in Computer Science. Building and experimenting in a little lab—and
      now writing html at <Link href='https://roadmap.sh'>roadmap.sh</Link>.
    </p>
    <p class='mt-5'>
      My goal is to build cool things that make people&apos;s lives easier or
      more interesting—whether that&apos;s through building an app or writing
      code for other people.
    </p>

    <div class='mt-5'>
      <ul class='marker:text-divider list-disc space-y-1 pl-6'>
        <li class='pl-1.5'>
          Building <Link href='https://maily.to'>maily.to</Link>, craft
          beautiful emails effortlessly with Maily, the powerful email editor
          that ensures impeccable communication across all major clients.
        </li>
        <li class='pl-1.5'>
          Crafting <Link href='https://github.com/arikchakma/mly.fyi'
            >inboxing.at</Link
          > to send, and monitor your emails, your way. A self-hosted email tracking
          solution for Amazon SES.
        </li>
      </ul>
    </div>
  </main>
</Layout>
