---
import Location from './Location.astro';
import MarqueeLocation from './MarqueeLocation.astro';

const socialLinks = [
  {
    name: 'GitHub',
    url: 'https://github.com/arikchakma',
  },
  {
    name: 'LinkedIn',
    url: 'https://linkedin.com/in/arikchakma',
  },
  {
    name: 'X',
    url: 'https://twitter.com/imarikchakma',
  },
  {
    name: 'Instagram',
    url: 'https://instagram.com/imarikchakma',
  },
  {
    name: 'Peerlist',
    url: 'https://peerlist.io/arikchakma',
  },
  {
    name: 'hello@arikko.dev',
    url: 'mailto:hello@arikko.dev',
  },
];
---

<footer class='container pb-20'>
  <hr class='text-divider mt-12' />

  <ul class='mt-12'>
    {
      socialLinks.map((link, index) => (
        <li class='inline-flex text-sm sm:text-base'>
          <a
            href={link.url}
            target='_blank'
            class='text-divider decoration-divider/60 underline decoration-1 underline-offset-2 hover:no-underline hover:opacity-70'
          >
            {link.name}
          </a>
          {index !== socialLinks.length - 1 && (
            <span aria-hidden='true' class='px-1 select-none'>
              &middot;
            </span>
          )}
        </li>
      ))
    }
  </ul>

  <div class='text-divider mt-28 flex items-center justify-between text-xs'>
    <MarqueeLocation />
    <span class='hidden md:block'>
      <Location />
    </span>
    <a
      href='/feed.xml'
      class='text-divider decoration-divider/60 hidden uppercase underline decoration-1 underline-offset-2 hover:no-underline hover:opacity-70 md:block'
      >RSS</a
    >
  </div>
</footer>

<script>
  const timers = document.querySelectorAll(
    '[data-time]',
  ) as NodeListOf<HTMLElement>;

  function getCurrentTime() {
    return new Date().toLocaleTimeString('en-US', {
      timeZone: 'Asia/Dhaka',
      hourCycle: 'h24',
    });
  }

  const startTime = getCurrentTime();
  timers.forEach((el) => {
    el.textContent = startTime;
  });

  setInterval(() => {
    const currentTime = getCurrentTime();

    if (startTime !== currentTime) {
      timers.forEach((el) => {
        el.textContent = currentTime;
      });
    }
  }, 1000);
</script>
