<div
  aria-hidden="true"
  class="pointer-events-none sticky top-0 left-0 z-98 h-10 w-full cursor-none top-blur opacity-95 backdrop-blur-[5px] select-none after:absolute after:inset-0 after:bg-[linear-gradient(to_bottom,rgba(255,255,255,1),rgba(255,255,255,0))] sm:h-16"
>
</div>
