<div
  aria-hidden='true'
  class='top-blur -sm:h-10 pointer-events-none sticky left-0 top-0 z-[9999] h-20 w-full cursor-none select-none opacity-95 backdrop-blur-[5px] after:absolute after:inset-0 after:bg-[linear-gradient(to_bottom,rgba(252,252,252,1),rgba(252,252,252,0))]'
>
</div>
