@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter.var.woff2) format('woff2');
}

body {
  font-feature-settings: 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02', 'cv03' 1,
    'cv04' 1, 'liga', 'clig', 'calt';
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: 0.005em;
  background-color: #fcfcfc;
}

.font-main {
  font-feature-settings: 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02', 'cv03' 1,
    'cv04' 1, 'liga', 'clig', 'calt';
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: 0.005em;
}


.prose .anchor {
  @apply cursor-pointer text-[#313233] no-underline after:invisible after:pl-2 after:text-[#5d676a] after:content-['#'] hover:opacity-80 hover:after:visible hover:after:opacity-100;
}

.prose a {
  @apply transition-all;
}

.prose pre {
  @apply overflow-x-auto rounded-lg border border-gray-200 bg-bgWhite px-4 py-3;
}

.prose strong {
  @apply font-semibold;
  font-variation-settings: 'wght' 600 !important;
}

.prose code {
  @apply rounded-lg border-0 bg-[#EFEFEF] px-1 py-0.5 font-medium tracking-normal text-[#313233] [font-variation-settings:"wght"_500];
}

.prose pre code {
  @apply bg-bgWhite tracking-normal text-[#313233];
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-[#313233]/70;
}

.token.punctuation {
  @apply text-[#313233];
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
  @apply rounded-t-lg border border-b-0 border-gray-200 bg-[#f7f7f7] px-5 py-3 font-mono text-sm font-bold text-gray-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply -mx-4 block border-l-4 border-blue-500 bg-gray-100 px-4;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

article.prose {
  color: #313233;
  font-variation-settings: 'wght' 450;
  line-height: 1.6;
  word-spacing: -0.04em;
}

.gradient-clip::before {
  @apply [background:linear-gradient(to_right,_rgba(252,252,252,1),_rgba(252,252,252,0))];
  content: '';
  height: 100%;
  position: absolute;
  width: 40px;
  z-index: 2;
  left: 0;
  top: 0;
}
.gradient-clip::after {
  @apply [background:linear-gradient(to_right,_rgba(252,252,252,1),_rgba(252,252,252,0))];
  content: '';
  height: 100%;
  position: absolute;
  width: 40px;
  z-index: 2;
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

