@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter.var.woff2) format("woff2");
}

html,
body {
  height: 100%;

  max-width: 750px;
  margin: 0 auto;
  padding: 0 25px;
}

body {
  background-color: #151718;
  color: #ffffff;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::selection {
  background-color: #df3347;
  color: #fefefe;
}

.prose .anchor {
  position: absolute;
  visibility: hidden;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  visibility: visible;
  text-decoration: none;
}

.prose a {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.prose *:hover > .anchor {
  visibility: visible;
  text-decoration: none;
}

.anchor::after {
  content: "#";
  color: rgba(153, 153, 153, 1);
}

/* Codes */

.prose h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 100px;
}

.prose pre {
  border-width: 1px;
  border-color: rgba(51, 51, 51, 1);
  background-color: rgba(17, 17, 17, 1);
}

.prose code {
  color: rgba(234, 234, 234, 1);
  padding-top: 0.125rem /* 2px */;
  padding-bottom: 0.125rem /* 2px */;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 1);
  border-radius: 0.5rem; /* 8px */
  background-color: rgba(17, 17, 17, 1);
}

.prose pre code {
  color: rgba(234, 234, 234, 1);
}

.prose img {
  /* Don't apply styles to next/image */
  margin: 0px;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgba(153, 153, 153, 1);
}

.token.punctuation {
  color: rgba(153, 153, 153, 1);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: rgba(16, 185, 129, 1);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: rgba(139, 92, 246, 1);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: rgba(245, 158, 11, 1);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: rgba(59, 130, 246, 1);
}

.token.function,
.token.class-name {
  color: rgba(236, 72, 153, 1);
}

.token.regex,
.token.important,
.token.variable {
  color: rgba(245, 158, 11, 1);
}

code[class*="language-"],
pre[class*="language-"] {
  color: rgba(249, 250, 251, 1);
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
  padding-left: 1.25rem /* 20px */;
  padding-right: 1.25rem /* 20px */;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;

  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;

  font-weight: 700;

  color: rgba(234, 234, 234, 1);
  border-color: rgba(51, 51, 51, 1);
  background-color: rgba(34, 34, 34, 1);

  border-width: 1px;
  border-bottom-width: 0px;

  border-top-left-radius: 0.5rem /* 8px */;
  border-top-right-radius: 0.5rem /* 8px */;
}

.rehype-code-title + pre {
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.highlight-line {
  display: block;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  margin-left: -1rem /* -16px */;
  margin-right: -1rem /* -16px */;

  background-color: rgba(34, 34, 34, 1);

  border-left-width: 4px;
  border-color: rgba(59, 130, 246, 1);
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}
